/*------------------------------------------------------------------
[Main Stylesheet]

Project:	MLS Golazo Concept
Version:	1.0.0

1. Imports
2. Typography
3. Utilities
4. Layout

--------------------------------------------------------------------*/
#hero {
  background: url('../img/hero-bg.jpg') center top no-repeat;
}
#hero .row {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
